/* Architecture Assessment page styles */
/* All styles handled by Tailwind utilities */


.glass-card {
  background: rgba(255, 255, 255, 1);
  position: relative;
}
.glass-card-chips {
  background: var(--Surface-Fill-Light-Surface-White-6, rgba(255, 255, 255, 0.6));
  border: 1px solid rgba(243, 244, 246, 1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}
.glass-card-shadow{
   box-shadow:
      8px 12px 4px rgba(3, 189, 212, 0.24),
      0px -8px 12px 4px rgba(3, 189, 212, 0.24),
      8px 0px 12px 4px rgba(0, 68, 163, 0.24),
      -8px 0px 12px 4px rgba(0, 68, 163, 0.24);
}